html {
    height: 100%;
}

body {
    background-color: #d2e8f5;
    min-height: 100%;
}

footer {
    background-color: #85b3d7;
    position: relative;
    top: 100vh;
}

.map {
    position: relative;
    left: 50px;
    height: 400px;
    width: 100%;
}

.robot {
    position: relative;
    left: 50px;
}

.visitor {
    position: relative;
    right: 50px;
}
