@font-face {
    font-family: 'Compagnon';
    src: url('/fonts/Compagnon-Bold.otf') format(otf),
    url('/fonts/Compagnon-Light.otf') format(otf);
}

@font-face {
    font-family: 'Library';
    src: local('/fonts/Library3am.otf') format(otf),
    local('/fonts/Library3am_soft.otf') format(otf);
}

@font-face {
    font-family: 'SomeTimeLater';
    src: local('/fonts/SomeTimeLater.otf') format(otf);
}

@font-face {
    font-family: 'Robota';
    src: url('/fonts/Robota.otf') format(otf);
}

body {
    background-color: #d2e8f5;
    position: relative;
    padding-bottom: 80px;
    min-height: 100vh;
}

#main {
    position: relative;
}

#topnav a {
    color: #071d34;

}
footer {
    background-color: #85b3d7;
    box-shadow: 0px -2px 5px grey;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer h6  {
    color: #071d34;
}

#welcome {
       max-width: 75%;
       font-family: 'Roobota' ;
       color: #071d34;
}

.custom-brand {
    font-family: 
}

#welcome img {
    width: 8%;
    height: 10%;
}

.map {
    height: 400px;
    width: 100%;
    animation: fadein 0.75s ease-in;
    box-shadow: 0px 3px 10px grey;
}

.robot {
    animation: slidein 0.70s ease-in-out;
}

.visitor {
    animation: fadein 0.25s ease-in;
}

@keyframes slidein {
    from {
        transform: scaleX(0.0);
        opacity: 0.25;
    }
    40% {
        transform: scaleX(1.07);
    }
    60% {
        transform: scaleX(0.80);
    }

    80% {
        transform: scaleX(1.07);
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
