html {
    height: 100%;
}

body {
    background-color: #d2e8f5;
    min-height: 100%;
}

footer {
    background-color: #85b3d7;
    position: relative;
    top: 100vh;
}

.map {
    position: relative;
    left: 50px;
    height: 400px;
    width: 100%;
    animation: fadein 0.75s ease-in;
    box-shadow: 0px 3px 10px grey;
}

.robot {
    position: relative;
    left: 50px;
    animation: slidein 0.70s ease-in-out;
}

.visitor {
    position: relative;
    right: 50px;
    animation: fadein 0.25s ease-in;
}

@keyframes slidein {
    from {
        transform: scaleX(0.0);
        opacity: 0.25;
    }
    40% {
        transform: scaleX(1.07);
    }
    60% {
        transform: scaleX(0.80);
    }

    80% {
        transform: scaleX(1.07);
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* @media screen and (max-width: 800px) {
    .map .robot .visitor {
        position: static;
        margin: 5px;
    }
} */