{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block title %} Let's chat papybot ! {% endblock %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}

<!-- style sheet import -->
    {% block styles %}
        {{super()}}
        <link rel="stylesheet" type="text/css"
              href="{{url_for('static', filename='css/custom.css')}}">
    {% endblock %}

{%- endblock %}

{% block body %}

<!-- navigation bar -->
    {% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                 data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Papybot</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Accueil</a></li>
                </ul>
            </div>
    </div>
    {% endblock %}

<!-- integration of other pages -->
    <div id="main" class="container">
       {% block content %}{% endblock %}
    </div>

    {% block footer %}
        <div class="container-fluid">
            <div class="row">
                <section class="col-md-6">
                    <h6>Web app by: G. JASMIN</h6>
                </section>
                <section class="col-md-6">
                    <h6>Follow me on <a href="#">Github</a> </h6>
                </section>
            </div>
        </div>
    {% endblock %}

{% endblock %}

<!-- js script -->
{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='js/gmaps.js')}}" async defer></script>
{% endblock %}