{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block title %} Let's chat papybot ! {% endblock %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='/images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/images/favicon-16x16.png') }}">

<!-- style sheet import -->
    {% block styles %}
        {{super()}}
        <link rel="stylesheet" type="text/css"
              href="{{url_for('static', filename='css/custom.css')}}">
    {% endblock %}

{%- endblock %}

{% block body %}

<!-- top navigation bar -->
    {% block navbar %}
    <div class="navbar navbar-light fixed-top" style="background-color: #85b3d7" role="navigation">
            <div>
                <a class="navbar-brand" href="/" id="top">Papybot</a>
                <form class="form-inline">
                    <div>
                        <input class="form-control m-auto" type="search" placeholder="Pose moi ta question ici" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Réponse !</button>
                    </div>
                </form>
            </div>
           
    </div>
    {% endblock %}

<!-- integration of other pages -->
    <div id="main" class="container">
       {% block content %}{% endblock %}
    </div>

    {% block footer %}
        <div class="navbar fixed-bottom container-fluid" style="background-color: #85b3d7" role="navigation">
            <div class="row">
                <a class="navbar-brand" href="#top">Accueil</a>
                <section class="col">
                    <h6>Web app by: G. JASMIN</h6>
                </section>
                <section class="col ">
                    <h6>Follow me on <a href="#">Github</a> </h6>
                </section>
            </div>
        </div>
    {% endblock %}

{% endblock %}

<!-- js script -->
{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='js/gmaps.js')}}" async defer></script>
{% endblock %}