{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block title %} Let's chat papybot ! {% endblock %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='/images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/images/favicon-16x16.png') }}">

<!-- style sheet import -->
    {% block styles %}
        {{super()}}
        <link rel="stylesheet" type="text/css"
              href="{{url_for('static', filename='css/custom.css')}}">
    {% endblock %}

{%- endblock %}

{% block body %}

<!-- navigation bar -->
    {% block navbar %}
    <div class="navbar navbar-inverse container-fluid" role="navigation">
            <div class="navbar-header row">
                <a class="navbar-brand col-md-3" href="/">Papybot</a>
                <form class="form-inline col-md-9 my-2 my-lg-0">
                    <input class="form-control col" type="search" placeholder="Pose moi ta question ici" aria-label="Search">
                    <button class="btn btn-outline-success col my-2 my-sm-0" type="submit">Réponse !</button>
                </form>
            </div>
           
    </div>
    {% endblock %}

<!-- integration of other pages -->
    <div id="main" class="container">
       {% block content %}{% endblock %}
    </div>

    {% block footer %}
        <div class="container-fluid">
            <div class="row">
                <section class="col-md-6">
                    <h6>Web app by: G. JASMIN</h6>
                </section>
                <section class="col-md-6">
                    <h6>Follow me on <a href="#">Github</a> </h6>
                </section>
            </div>
        </div>
    {% endblock %}

{% endblock %}

<!-- js script -->
{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='js/gmaps.js')}}" async defer></script>
{% endblock %}